@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --color-header: #00ac6b;
  --color-primary: #096650;
  --color-white: #fff;
  --color-black: #333;
}

.box-shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
