@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    /* --font: "Be Vietnam Pro"; */
    --font: "Poppins", "Be Vietnam Pro";
}
* {
    font-family: var(--font);
}
#main {
    margin-top: 60px;
}
.navbar-brand {
    font-weight: bolder;
}

.btn-cart {
    position: relative;
    font-size: 18px;
}
#count-cart {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 12px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 50%;
    padding: 2.5px 6px 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.invalid-feedback {
    margin-top: -18px;
}
.pic-in-cart {
    width: 200px;
    height: 120px;
    border-radius: 5px;
}
/*
input,
select,
textarea,
button,
.page-link {
    box-shadow: none !important;
} */
/* Toast Custom */

.notifications {
    position: fixed;
    top: 30px;
    right: 0;
    z-index: 9999;
    user-select: none;
}
.toast {
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 320px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: linear-gradient(to right, #0abf3055, #22242f 30%);
    /* animation: show 0.5s ease 1 forwards; */
    transition: all linear 0.5s;
}
.toast i {
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.toast span {
    font-size: 15px;
}
.toast span,
.toast i:nth-child(3) {
    color: #fff;
    opacity: 0.6;
}
@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes hide {
    0% {
        transform: translateX(-10%);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(100%);
    }
}
.toast.error {
    --color: #f24d4c;
    background-image: linear-gradient(to right, #f24d4c55, #22242f 30%);
}
.toast.warning {
    --color: #e9bd0c;
    background-image: linear-gradient(to right, #e9bd0c55, #22242f 30%);
}
.toast.info {
    --color: #3498db;
    background-image: linear-gradient(to right, #3498db55, #22242f 30%);
}

/*  */

.payment-methods .form-check {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}
.payment-methods .form-check input {
    margin-left: 0px !important;
}
.payment-methods .form-check label {
    flex: 1;
}
/* Loading */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    display: none;
    user-select: none;
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
    background: rgba(255, 255, 255, 0.2);
}
.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #00ac6b;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loading */
